body {
  margin: 2;
  background: #cc8f94;
  cursor: crosshair;
}
canvas{display:block}
.importante {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #cc8f94;
  font-family: "Impact,Charcoal,sans-serif";
  font-size: 5em;
  font-weight: 800;
  -webkit-user-select: none;
  user-select: none;
  
}
h2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #cc8f94;
  font-family: "Impact,Charcoal,sans-serif";
  font-size: 5em;
  font-weight: 800;
  -webkit-user-select: none;
  user-select: none;
}